*{
    margin: 0;
    padding: 0;
}



.flex{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    flex-wrap: wrap;
    padding:50px 0;

}

.box{
    width: 200px;
    height: 180px;
    background-color: cadetblue;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 10px 5px lightblue;
    transform: scale(1.0);
    transition: 1s;
}
.box p{
    font-size: 12px;
}
.box h2{
    font-size: 18px;
    margin: 8px 0;

}
.box:hover{
   transform: scale(1.1);
   transition: 3s;
}
